	<table class="table table-condensed">
			<caption>Applicants to Facebook
			
				<%= link_to "Download Video", download_video_path(), :class => "btn btn-primary", :id => "btn-video" %>

				<%= link_to "Download Resume", download_resume_path(), :class => "btn btn-primary", :id => "btn-resume" %>
			</caption>
	
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>School</th>
					<th>Date Applied</th>
					<th>Video Length</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>George Castro</td>
					<td>Harvard University</td>
					<td>02/20/17</td>
					<td>30sec</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Matthew Younger</td>
					<td>Harvard University</td>
					<td>02/22/17</td>
					<td>45sec</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Aaron Ramos</td>
					<td>Harvard University</td>
					<td>02/22/17</td>
					<td>30sec</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Noah Sobel</td>
					<td>Harvard University</td>
					<td>02/23/17</td>
					<td>30sec</td>
				</tr>
			</tbody>
		</table>
